# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# Test output
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover

# Build/dist folders
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# MyPy, Pyright, Pyre, etc.
.mypy_cache/
.pyright/
.pyre/

# Pytest
.cache/
.pytest_cache/

# Environment variables
.env
.env.*

# Django/Flask specific
*.log
local_settings.py
instance/
.webassets-cache

# Database
*.sqlite3
*.db

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Others
*.bak
*.swp
*.tmp
